<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Codigo QR</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="white">
  <!-- estructura para codigo qr-->
  <ion-card *ngIf="qrData">
    <ngx-qrcode [elementType]="elementType" [value]="qrData">
    </ngx-qrcode>
    <ion-input type="text" placeholder="ingrese codigo QR"
     [(ngModel)]="qrData"></ion-input>
  </ion-card>

</ion-content>

