/* DOES NOT WORK - not specific enough */
ion-loading {
    color: green;
  }
  
  /* Works - pass "my-custom-class" in cssClass to increase specificity */
  .my-custom-class {
    --background: #222;
    --spinner-color: #fff;
  
    color: #fff;
  }