.titulo{
    padding: 25px;
    margin-bottom: 10px;
    text-align: center;
    
}

.contenido{
    padding: 25px;
    margin-bottom: 10px;
}
.btnalumno{
    padding: 25px;
    margin-bottom: 10px;
}
