<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="white">
 <ion-card>
  <ion-card-header>
    <ion-card-subtitle class="ion-text-center">Bienvenido Alumno</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="ion-text-center">
    Nos alegra verte nuevamente
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle class="ion-text-center">Clase </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="ion-text-center">
    De 10:45 AM a 13:00 PM
  </ion-card-content>
  
  <ion-item>
    <ion-icon name="checkmark-sharp"></ion-icon>
    <ion-label>Clase en progreso..</ion-label>
    <ion-button color="success" fill="outline" slot="end">Entrar</ion-button>
  </ion-item>
</ion-card>


 
</ion-content>
