<ion-header>
  <ion-toolbar color="primary">
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="white">
  <ion-card>
    <ion-card-content>
      <h1 class="ion-text-center">DuocUC</h1>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">Iniciar Sesión como</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-button  class="ion-margin-top" type="submit" expand="block" color="light" (click)="irDocente()">
        Entrar como Docente
      </ion-button>
      o
      <ion-button  class="ion-margin-top" type="submit" expand="block" color="light" (click)="irAlumno()">
        Entrar como Alumno
      </ion-button>
    </ion-card-content>
  </ion-card>
 

  
</ion-content>